.bg-sfondo {
    background-color: #0e1122;
}

.style-logo-navbar {
    width: 110px;
    height: 70px;
    object-fit: cover;
}

ul {
    list-style-type: none;
    padding: 0;
}

.dimension-card-img {
    max-height: 200px;
    object-fit: cover;
    object-position: center top;
}

.pippo {
    transition: all 300ms;
    height: 550px;
}

.pippo:hover {
    scale: 1.01;
    transition: all 300ms;
    z-index: 999;
}

.bg-sfondoMain {
    background-color: #d3d6da;
}

.no-underline {
    text-decoration: none;
}

.onHover:hover {
    color: rgb(228, 95, 95);
}
